<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-4 font-weight-bold text-info">MemeStr</h1>
    <p class="lead text-info">About MemeStr</p>
  </div>
</div>

<p class="text-monospace text-center mt-5 pt-5"> MemeStr aims to create a centralized location for all Memes. A place where all Memes can live free, without being judged. A sort of Meme sanctuary, if you will.
</p>