@import "bootstrap";

.jumbotron {
    background-image: url("http://www.f-covers.com/cover/dinosaurs-quote-meme-facebook-cover-timeline-banner-for-fb.jpg");
    background-size: 100% 107%;
}

.footer {
    margin-top: 100px !important;
}